In [1]:
import pandas as pd

In [2]:
stress = pd.read_excel('결과/스트레스_순위.xlsx')
stress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      69 non-null     object
 1   스트레스 순위  69 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [3]:
health = pd.read_excel('결과/보건_순위.xlsx')
health.info()

health.지역명.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     69 non-null     object
 1   보건 순위   69 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

array(['울산광역시 남구', '부산광역시 강서구', '울산광역시 북구', '부산광역시 사상구', '인천광역시 미추홀구',
       '서울특별시 양천구', '부산광역시 영도구', '서울특별시 노원구', '대구광역시 달서구', '서울특별시 서대문구',
       '서울특별시 강동구', '서울특별시 성북구', '인천광역시 중구', '부산광역시 남구', '서울특별시 관악구',
       '인천광역시 연수구', '울산광역시 동구', '부산광역시 북구', '대구광역시 수성구', '대전광역시 중구',
       '부산광역시 서구', '인천광역시 서구', '서울특별시 도봉구', '광주광역시 서구', '인천광역시 남동구',
       '울산광역시 중구', '서울특별시 용산구', '대구광역시 남구', '부산광역시 부산진구', '인천광역시 계양구',
       '광주광역시 광산구', '대전광역시 서구', '부산광역시 해운대구', '대전광역시 유성구', '부산광역시 수영구',
       '서울특별시 동작구', '인천광역시 부평구', '서울특별시 구로구', '서울특별시 금천구', '대전광역시 대덕구',
       '서울특별시 강서구', '서울특별시 중랑구', '서울특별시 동대문구', '광주광역시 북구', '서울특별시 은평구',
       '대구광역시 북구', '부산광역시 동래구', '부산광역시 사하구', '부산광역시 중구', '광주광역시 남구',
       '서울특별시 서초구', '서울특별시 마포구', '서울특별시 강남구', '대구광역시 동구', '부산광역시 동구',
       '서울특별시 영등포구', '부산광역시 금정구', '대전광역시 동구', '서울특별시 종로구', '서울특별시 송파구',
       '서울특별시 성동구', '대구광역시 서구', '서울특별시 강북구', '서울특별시 광진구', '광주광역시 동구',
       '부산광역시 연제구', '인천광역시 동구', '서울특별시 중구', '대구광역시 중구'], dtype=object)

In [4]:
safety = pd.read_excel('결과/안전_순위.xlsx')
safety.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     69 non-null     object
 1   안전 순위   69 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [5]:
edu = pd.read_excel('결과/교육_순위.xlsx')
edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   교육 순위   69 non-null     int64
 1   지역명     69 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [6]:
leisure = pd.read_excel('결과/여가_순위.xlsx')
leisure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     69 non-null     object
 1   여가 순위   69 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [7]:
welfare = pd.read_excel('결과/복지_순위.xlsx')
welfare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     69 non-null     object
 1   복지 순위   69 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [8]:
dfs = [stress, welfare, health, edu, leisure,safety]

merged_df = stress
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on='지역명', how='outer')

# 결과 확인
merged_df

          지역명  스트레스 순위  복지 순위  보건 순위  교육 순위  여가 순위  안전 순위
0   부산광역시 영도구        1     17      7     62    5.0     53
1    부산광역시 동구        2      4     47     65    1.0     16
2   부산광역시 수영구        3     65     32     54    6.0     21
3    울산광역시 동구        4     46     15      6   11.0     14
4    부산광역시 서구        5     45     19     61    3.0     56
..        ...      ...    ...    ...    ...    ...    ...
64  인천광역시 남동구       65     24     22     10   57.0     20
65  서울특별시 양천구       66     35      6     22   37.5      4
66   서울특별시 중구       67     54     59     50   18.0     34
67  서울특별시 노원구       68     33      8     25   59.0     10
68  인천광역시 부평구       69     32     34     29   50.0     25

[69 rows x 7 columns]

In [11]:
merged_df['최종순위'] = round(merged_df.mean(axis = 1),3)

/var/folders/nr/0pg07f8n56n3jfksqk_3y0500000gn/T/ipykernel_17401/2583913546.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  merged_df['최종순위'] = round(merged_df.mean(axis = 1),3)

In [13]:
merged_df = merged_df.sort_values(by = '최종순위')

In [14]:
merged_df

          지역명  스트레스 순위  복지 순위  보건 순위  교육 순위  여가 순위  안전 순위    최종순위
3    울산광역시 동구        4     46     15      6   11.0     14  16.000
1    부산광역시 동구        2      4     47     65    1.0     16  22.500
10   울산광역시 남구       11     48      1     21   49.0      7  22.833
7    부산광역시 남구        8     20     12     31   23.0     50  24.000
0   부산광역시 영도구        1     17      7     62    5.0     53  24.167
..        ...      ...    ...    ...    ...    ...    ...     ...
49  서울특별시 용산구       50     66     24     67   15.0     43  44.167
44  서울특별시 광진구       45     57     55     49   43.0     29  46.333
66   서울특별시 중구       67     54     59     50   18.0     34  47.000
40  서울특별시 송파구       41     62     51     37   68.0     51  51.667
55  서울특별시 마포구       56     58     44     53   58.0     56  54.167

[69 rows x 8 columns]

In [15]:
merged_df.to_csv('결과 종합본.csv')

In [2]:
df = pd.read_csv('결과 종합본.csv')

In [4]:
df['순위'] = df.index+1

In [6]:
df.to_csv('결과 종합본.csv')